<footer class="navbar navbar-light bg-dark" style="position: fixed; bottom: 0; width: 100vw">
    <div class="container">
        <div class="col">
            <h5 class="text-white">This site is under construction. Please be kind!</h5>
        </div>
        <div classs="col">
            <div class="row"><a class="text-decoration-none text-white" href="{% url 'home:terms' %}">Terms of Use</a></div>
            <div class="row"><a class="text-decoration-none text-white">Contact</a></div>
            <div class="row"><a class="text-decoration-none text-white" href="https://github.com/leogutschow/Monster-Importer">Github</a></div>

        </div>
    </div>
</footer>