<nav class="navbar bg-secondary">
    <div class="container row align-content-center">
        <a class="navbar-brand col text-white text-decoration-none" href="{% url 'home:home_page' %}">Home Page</a>
        <a class="navbar-nav col text-white text-decoration-none" href="{% url 'monster:monster_list' %}">Monsters</a>
        <a class="navbar-nav col text-white text-decoration-none" href="{% url 'manuals:manual_download'%}">Manuals</a>
        <a class="navbar-nav col text-white text-decoration-none" href="{% url 'requests:new_request'%}">Requests</a>
        <a class="navbar-nav col text-white text-decoration-none" href="{% url 'home:about' %}">About</a>
    </div>
</nav>