{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}{{ profile.user.username }}{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
    <div class="d-flex">
        <div class="btn-toolbar ms-0 mt-4 p-3" role="toolbar">
             {% if user.is_authenticated %}
                <div class="col-sm-1 btn-group-vertical" role="group">
                    <div class="row">
                        <button class="btn btn-success mb-2">My Monsters</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-success mb-2">My Profile</button>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-1 btn-group-vertical" role="group">
                    <div class="row">
                        <button class="btn btn-success mb-2">{{ profile.user.username }}'s Monsters</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-success mb-2">{{ profile.user.username }}'s Profile</button>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="myMonsters" class="flex-fill ms-5">
            <h1>Monster Created:</h1>
            <div class="d-flex justify-content-start">
                {% for monster in monsters %}
                    <div class="rounded border me-auto p-2">
                        <a class="text-decoration-none" href="{% url 'monster:monster_detail' monster.slug %}">
                            <img class="rounded mx-auto" src="{{ monster.image.url }}" style="max-width: 10vw">
                            <h5 class="text-dark text-center">{{ monster.name }}</h5>
                        </a>
                        <div class="container-fluid">
                            <button class="btn btn-secondary" type="button">
                                <a class="text-white text-decoration-none">Change Monster</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
    {% endblock %}
</body>
</html>