{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block 'conteudo' %}
        <div class="container mt-3">
            <h2>Creating a Forum in {{ category.name }}</h2>
            <form class="container" method="POST">
                {% csrf_token %}
                <div class="mt-4">
                    <label class="form-label" for="id_title">Title:</label>
                    {{ form.title }}
                    <label class="form-label" for="id_text">Text:</label>
                    {{ comment.comment|safe }}
                </div>
                <button class="btn btn-success" type="submit">Post</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>