{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}Forum{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
        <div class="container mt-3">
            <h1>Forum Categories</h1>
            {% for category in categories %}
                <div class="mb-2 border">
                    <h3><a href="{% url 'forum:category' category.slug %}">{{ category.name }}</a></h3>{{ category.description }}
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>