{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}Forum{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
        <div class="container">
            {% for category in categories %}
                <h1>{{ category.name }}</h1>
                {% for forum in forums %}
                    {% if forum.category == category %}
                        <h5>{{ forum.title }}</h5>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>