{% extends 'base.html' %}
{% block 'conteudo' %}
    <p class="m-3">
        Monster Importer is a Third Party Web Application. We do not own or are owned by any company.
        <br>
        <br>
        All Monsters and respective mechanics are part of their respective companies. Monster Importer don't hold any of
        its intellectual property or rights towards them. All monster created by third parties, e.g. Home Brew Monsters,
        are complete responsibility of its creator.
        <br>
        <br>
        No Monster can have sexual content, hate speech, discrimination against race, sexual orientation, gender, ethnic group,
        nation or any kind of historical revisionism that is directed to support ideologies. Any Monster that does have any of this above
        will be deleted from the database, the profile that created it deleted as well, and depending on the gravity of the transgression,
        necessary measures will be displayed
    </p>
{% endblock %}