{% extends 'base.html' %}
{% block 'conteudo' %}
    <p class="m-3">
        Monster Importer is a Third Party Web Application. We do not own or are owned by any company.
        <br>
        <br>
        The role of Monster Importer is to make it easier to who play Role-Playing Games (RPGs). Monster Importer do not hold
        any ownership to whatever game mechanic that you encounter in this Web Application. It only facilitates access and playability
        to the owners of those mechanics and monsters.
        <br>
        <br>
        Monster Importer's team support in its integrity the Open Source ideal and Public Ownership of its rights. Therefore,
        anyone can make requests to change this Application, using GitHub as the version and merging platform. Any code
        sent will be revised and, with all in order, submitted to the final version displayed here. Any code submitted that
        change only the aspect of design (as a Front-End aspect), programming design (as a Back-End aspect) or changing minor things,
        might be submitted, but be warned that in this matter I, madwarlock95, will have the final word on what stays in case of conflict
        between submissions or if changes in a way that it is almost completely different from the original.
        <br>
        <br>
        All Monsters and respective mechanics are part of their respective companies. Monster Importer don't hold any of
        its intellectual property or rights towards them. Any problem you have with a monster (apart from the data in this
        Web Application been imprecise) should be contacted to the respective owner
        All monster created by third parties, e.g. Home Brew Monsters, are complete responsibility of its creator.
        <br>
        <br>
        No Monster can have sexual content, hate speech, discrimination against race, sexual orientation, gender, ethnic group,
        nation or any kind of historical revisionism that is directed to support ideologies. Any Monster that does have any of this above
        will be deleted from the database, the profile that created it deleted as well, and depending on the gravity of the transgression,
        necessary measures will be displayed
        <br>
        <br>
        Monster Importer have a way of communication between profiles and members of this Web Application. Monster Importer
        only have responsibility of maintaining it working and keep the harmony between each other. In this means of communications,
        every and single profile is responsable for its own speech rights and duties, such as the freedom of speech any opinion you have
        towards anything related to the Web Application purpose. However, it's strictly prohibited to have sexual content,
        hate speech, discrimination against race, sexual orientation, gender, ethnic group, nation or any kind of historical
        revisionism that is directed to support ideologies.
    </p>
{% endblock %}