{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}All Devlogs{% endblock %}</title>
</head>
<body>
  {% block 'conteudo' %}

    <div class="container mt-3">
      <div class="row row-cols-auto">
        {% for devlog in devlogs %}
          <div class="container-sm col border border-3 border-secondary">
            <img src="{{ devlog.bg_image.url }}" style="max-width: 175px">
            <h5><a class="text-decoration-none text-dark" href="{% url 'devlogs:update_devlog' devlog.slug %}">{{ devlog.title }}</a></h5>
            <h6>{{ devlog.short_description }}</h6>
          </div>
        {% endfor %}
      </div>
    </div>

  {% endblock %}
</body>
</html>