{% load calculate %}
{% load static %}
<div class="container pt-5">
        <div class="container col">
            <div class="row justify-content-md-center">
                <div class="col">
                    <img src="{{ monster.image.url }}" style="height: 65vh">
                    <div class="container col p-3">
                        <button id="importMonster" class="btn btn-success" type="button">Import Monster!</button>
                    </div>
                    <p class="p-4">
                        {{ monster.description }}
                    </p>
                </div>
                <div class="container-md col bg-image p-3" style="background-image: {% static 'vendor/imgs/Sheet_bgs/CoCBgSheet.png' %}; width: 547px; max-height:7000px">
                    <div class="container">
                        <div class="row container">
                            <h5 class="fst-italic fs-6">{{ monster.get_game_display }}</h5>
                            {% if monster.home_brew %}
                                <h5 class="fst-italic fs-6">Home Brew Monster Created By:
                                    <a class="text-decoration-none"
                                       href="{% url 'auth:profile' monster.created_by %}">{{ monster.created_by }}</a>
                                </h5>
                            {% endif %}
                            <div class="container">
                                <h3 class="fst-bold">{{ monster.name }}</h3>
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="fst-italic" scope="col">char</th>
                                                <th class="fst-italic" scope="col">avarages</th>
                                                <th class="fst-italic" scope="col">rolls</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">STR</td>
                                                {% if monster.strength == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.strength }}</td>
                                                    <td>{{ monster.str_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td scope="row">CON</td>
                                                {% if monster.constitution == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.constitution }}</td>
                                                    <td>{{ monster.con_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td scope="row">SIZ</td>
                                                {% if monster.strength == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.size }}</td>
                                                    <td>{{ monster.siz_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td scope="row">DEX</td>
                                                {% if monster.strength == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.dexterity }}</td>
                                                    <td>{{ monster.dex_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td scope="row">INT</td>
                                                {% if monster.strength == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.intelligence }}</td>
                                                    <td>{{ monster.int_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td scope="row">POW</td>
                                                {% if monster.power == 0 %}
                                                    <td>N/A</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ monster.power }}</td>
                                                    <td>{{ monster.pow_roll }}</td>
                                                {% endif %}
                                            </tr>
                                            {% if monster.appearance %}
                                                <tr>
                                                    <td scope="row">APP</td>
                                                    <td>N/A</td>
                                                    <td></td>
                                                    <td>{{ monster.appearance }}</td>
                                                    <td>{{ monster.app_roll }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if monster.education %}
                                                <tr>
                                                    <td scope="row">EDU</td>
                                                    <td>N/A</td>
                                                    <td></td>
                                                    <td>{{ monster.education }}</td>
                                                    <td>{{ monster.edu_roll }}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <h5><b>HP:</b> {{ monster.hp }}</h5>
                                    <h5><b>Average Damage Bonus:</b> {{ monster.damage_bonus }}</h5>
                                    <h5><b>Average Build:</b> {{ monster.build }}</h5>
                                    <h5><b>Average Magic Points:</b> {{ monster.magic_points }}</h5>
                                    <h5><b>Move:</b> {{ monster.movement }}</h5>
                                </div>
                                <div class="">
                                    <h4 class="mt-2"><b>ATTACKS</b></h4>
                                    <h5><b>Attacks per Round:</b> {{ monster.attacks_per_round }}</h5>
                                    {% for attack in monster.cocmove_set.all %}
                                        {% if attack.attack_name != 'Dodge' %}
                                            <p><b>{{ attack.attack_name }}{% if attack.percentage == 0 %} (mnvr){% endif %}: </b>{{ attack.attack_description }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    {% for attack in monster.cocmove_set.all %}
                                        {% if attack.damage %}
                                            <p>{{ attack.attack_name }}
                                                {% if attack.percentage != 0 %}
                                                    {{ attack.percentage }}% ({{ attack.percentage_raw }}),
                                                {% else %}
                                                    (mnvr),
                                                {% endif %}
                                                {% if attack.damage %}
                                                    damage {{ attack.damage }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    {% endfor %}
                                    <p><b>Armor: </b>{{ monster.armor }}</p>
                                    {% if monster.cocskill_set.count > 0 %}
                                        <p><b>Skills: </b>{% for skill in monster.cocskill_set.all %}{{ skill.get_skill_display }} {{ skill.percentage }}%, {% endfor %}</p>
                                    {% endif %}
                                    <p><b>Sanity Loss: </b>{{ monster.sanity_loss }}</p>
                                </div>
                                <div class="">
                                    <h4 class="mt-2"><b>Special Powers</b></h4>
                                    {% for special in  monster.cocspecialpowers_set.all %}
                                        <p><b>{{ special.special_name }}: </b>{{ special.special_description }}</p>
                                    {% endfor %}
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="fst-italic">All mechanics are property of Chaosium Inc.</p>
    </div>