{% load calculate %}
{% load static %}
<div class="container pt-5">
        <div class="container col">
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <img src="{{ monster.image.url }}" style="height: 65vh">
                    <div class="container col p-3">
                        <button id="importMonster" class="btn btn-success" type="button">Import Monster!</button>
                    </div>
                    <p class="p-4">
                        {{ monster.description }}
                    </p>
                </div>
                <div class="container-md col-auto bg-image p-3" style="background-image: {% static 'vendor/imgs/Sheet_bgs/CoCBgSheet.png' %}; width: 547px; max-height:7000px">
                    <div class="container">
                        <div class="row container">
                            <h5 class="fst-italic fs-6">{{ monster.get_game_display }}</h5>
                            {% if monster.home_brew %}
                                <h5 class="fst-italic fs-6">Home Brew Monster Created By:
                                    <a class="text-decoration-none"
                                       href="{% url 'auth:profile' monster.created_by %}">{{ monster.created_by }}</a>
                                </h5>
                            {% endif %}
                            <div class="container">
                                <h3 class="fst-bold">{{ monster.name }}</h3>
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th class="fst-italic" scope="col">char</th>
                                                <th class="fst-italic" scope="col">avarages</th>
                                                <th class="fst-italic" scope="col">rolls</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">STR</td>
                                                <td>{{ monster.strength }}</td>
                                                <td>{{ monster.str_roll }}</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">CON</td>
                                                <td>{{ monster.constitution }}</td>
                                                <td>{{ monster.con_roll }}</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">SIZ</td>
                                                <td>{{ monster.size }}</td>
                                                <td>{{ monster.siz_roll }}</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">DEX</td>
                                                <td>{{ monster.dexterity }}</td>
                                                <td>{{ monster.dex_roll }}</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">INT</td>
                                                <td>{{ monster.intelligence }}</td>
                                                <td>{{ monster.int_roll }}</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">POW</td>
                                                <td>{{ monster.power }}</td>
                                                <td>{{ monster.pow_roll }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h5><b>HP:</b> {{ monster.hp }}</h5>
                                    <h5><b>Average Damage Bonus:</b> {{ monster.damage_bonus }}</h5>
                                    <h5><b>Average Build:</b> {{ monster.build }}</h5>
                                    <h5><b>Average Magic Points:</b> {{ monster.magic_points }}</h5>
                                    <h5><b>Move:</b> {{ monster.movement }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="fst-italic">All mechanics are property of Wizards of The Coast by the OGL</p>
    </div>