{% load calculate %}
<div class="container pt-5">
        <div class="container col">
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <img src="{{ monster.image.url }}" style="height: 65vh">
                    <div class="container col p-3">
                        <button class="btn btn-success" type="button">Import Monster!</button>
                    </div>
                    <p class="p-4">
                        {{ monster.description }}
                    </p>
                </div>
                <div class="container-md col-auto bg-image p-3" style="width: 547px; max-height:7000px">
                    <div class="container">
                        <div class="row container">
                            <h5 class="fst-italic fs-6">{{ monster.get_game_display }}</h5>
                            {% if monster.home_brew %}
                                <h5 class="fst-italic fs-6">Home Brew Monster Created By: {{ monster.created_by }}</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-between">
                            <h1 class="text-danger pd-0 pt-3">{{ monster.name }}</h1><h1 class="text-danger pd-0 pt-3">ND {{ monster.challenge }}</h1>
                        </div>
                        <h5 class="lh-1 fs-6 fst-italic">{{ monster.race }} {{ monster.level }}, {{ monster.size }} </h5>
                        <h5 class="text-danger lh-1 fs-6">__________________________________________________________________</h5>
                        <h5 class="fs-6 text-danger">Initiative +
                            {% for skill in monster.tor20skill_set.all %}
                                {% if skill.skill_name == 'Initiative' %}
                                    <span class="text-dark">{{ skill.skill_bonus }},</span>
                                {% elif skill.skill_name == 'Perception' %}
                                    <span class="text-dark">Perception +{{ skill.skill_bonus }}</span>

                                    <h5 class="fs-6 text-danger">Defense:
                                        <span class="text-dark">{{ monster.ac }},</span>
                                        Fort <span class="text-dark">+{{ monster.fortitude }},</span>
                                        Ref <span class="text-dark">+{{ monster.reflex }},</span>
                                        Will <span class="text-dark">+{{ monster.will }}</span></h5>
                                {% endif %}
                            {% endfor %}</h5>
                        <h5 class="fs-6 text-danger">Hit Points: <span class="text-dark">{{ monster.hp }}</span></h5>
                        <h5 class="fs-6 text-danger">Speed: <span class="text-dark">{{ monster.movement }}</span></h5>
                        <h5 class="text-danger lh-1 fs-6">__________________________________________________________________</h5>
                        {% if monster.mana > 0 %}
                             <h5 class="fs-6 text-danger">Mana Points: <span class="text-dark">{{ monster.mana }}</span></h5>
                        {% endif %}
                        {% if monster.tor20meleeaction_set.count > 0 %}
                            <h5 class="text-danger lh-1 fs-6">Melee Attacks:
                                {% for attack in monster.tor20meleeaction_set.all %}
                                        <span class="text-dark">{{ attack.action_name }} +{{ attack.attack }} ({{ attack.hit }})</span>
                                {% endfor %}
                            .</h5>
                        {% endif %}
                        {% if monster.tor20rangedaction_set.count > 0 %}
                            <h5 class="text-danger lh-1 fs-6">Ranged Attacks:
                                {% for attack in monster.tor20rangedaction_set.all %}
                                        <span class="text-dark">{{ attack.action_name }} +{{ attack.attack }} ({{ attack.hit }})</span>
                                {% endfor %}
                            </h5>
                        {% endif %}
                        {% if monster.tor20genericaction_set.count > 0 %}
                            {% for action in monster.tor20genericaction_set.all %}
                                <h5 class="text-danger lh-1 fs-6">{{ action.action_name }}
                                    {% if action.action_type != 'SRD' %}
                                        ({{ action.get_action_type_display }}
                                    {% endif %}
                                    {% if action.mana_cost or action.mana_cost > 0 %}
                                        {{ action.mana_cost }})
                                    {% endif %})

                                <span class="text-dark">{{ action.action_description }}</span></h5>
                            {% endfor %}
                        {% endif %}

                        <h5 class="text-danger lh-1 fs-6">__________________________________________________________________</h5>
                        <div class="row">
                            <h5 class="text-center col fs-6 fw-bold text-danger">
                                STR {{ monster.strength }},
                                DEX {{ monster.dexterity }},
                                CON {{ monster.constitution }},
                                INT {{ monster.intelligence }},
                                WIS {{ monster.wisdom }},
                                CAR {{ monster.charisma }}
                            </h5>
                        </div>
                        <h5 class="text-danger lh-1 fs-6">__________________________________________________________________</h5>
                        {% if monster.tor20skill_set.count > 2 %}
                            <h5 class="text-danger lh-1 fs-6">Skills
                                {% for skill in monster.tor20skill_set.all %}
                                    {% if skill.skill_name != 'Initiative' and skill.skill_name != 'Perception'%}
                                        <span class="text-dark">{{ skill.skill_name }} +{{ skill.skill_bonus }},</span>
                                    {% endif %}
                                {% endfor %}</h5>
                        {% endif %}
                        {% if monster.equipment and monster.equipment != 'None' %}
                            <h5 class="text-danger lh-1 fs-6">Equipment <span class="text-dark">{{ monster.equipment }}</span></h5>
                        {% endif %}
                        <h5 class="text-danger lh-1 fs-6">Treasure <span class="text-dark">{{ monster.treasure }}</span></h5>
                </div>
            </div>
        </div>

    </div>