<div class="container row mt-3">
    <nav class="nav flex-column col">
        <ul id="notificationsList" class="list-group">
            {% csrf_token %}
            {% for notification in notifications %}
                {% if notification.seen == False %}
                    <button value="{{ notification.id }}" type="button" class="notification-btn list-group-item list-group-item-action border fw-bold">{{notification.title}}</button>
                {% else %}
                    <button value="{{ notification.id }}" type="button" class="notification-btn list-group-item list-group-item-action border">{{notification.title}}</button>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <div id="notificationMessage" class="col">
        <p id="notificationText">

        </p>
    </div>
</div>