{% extends 'base.html' %}
<head>
    <title>{% block 'titulo' %} Monster Importer {% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
        <h1>Aqui esta o Index Page! Ache o monstro ideal para sua aventura e o importe direto para o Roll20!</h1>
        <!--
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ac</th>
                    <th>Challenge</th>
                </tr>
            </thead>
            <tbody>
                    {% for monster in monsters %}
                        <tr>
                            <td>{{ monster.name }}</td>
                            <td>{{ monster.ac }}</td>
                            <td>{{ monster.challenge }}</td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>
        -->
    <div class="d-flex justify-content-center bg-danger">
        <div id="carouselControls" class="carousel slide" data-bs-rise="carousel">
            <div class="carousel-inner">
                {% for monster in monsters %}
                    {% if monster.id == 4 %}
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="{{ monster.image.url }}" alt="..." class="d-block" style="max-height: 509px;">
                            <div class="carousel-caption d-none d-md-block bg-gradient" style="background-color: $gray">
                                <h5>{{ monster.name }}</h5>
                                <p>{{ monster.description }}</p>
                            </div>
                        </div>

                    {% else %}
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ monster.image.url }}" alt="..." class="d-block" style="max-height: 509px;">
                            <div class="carousel-caption d-none d-md-block bg-gradient" style="background-color: $gray">
                                <h5>{{ monster.name }}</h1>
                                <p>{{ monster.description }}</p>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>