{% extends 'base.html' %}
{% load static %}
<head>
    <title>{% block 'titulo' %} Monster Importer {% endblock %}</title>
    {% block 'styles' %}
    <style>
        .carousel-control-prev:hover{
            background-color: gray;
            opacity: 75%;
        }
        .carousel-control-next:hover{
            background-color: gray;
            opacity: 75%;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block 'conteudo' %}

    <div class="d-flex justify-content-center">
        <div id="carouselControls" class="carousel carousel-dark slide w-70 bg-secondary" data-bs-rise="carousel" style="width: 70vw">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="2" aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <a href="{% url 'monster:monster_detail' last_monster.slug%}">
                        <div class="text-center">
                            <img src="{{ last_monster.image.url }}" alt="..." style="height: 75vh;">
                        </div>
                        <div class="carousel-caption d-md-block bg-secondary" style="opacity: 75%;">
                            <h5 class="text-white " style="opacity: 100%">A Random Monster Appears!</h5>
                            <h1 class="text-white " style="opacity: 100%">The {{ last_monster.name }}!</h1>
                            <p class="text-white" style="opacity: 100%">Now you can import this to your Roll20 Campaign and have fun!</p>
                        </div>
                     </a>
                </div>
                <!--
                <div class="carousel-item" data-bs-interval="2000">
                    <a href="{% url 'manuals:manual_download' %}">
                        <div class="text-center">
                            <img src="{% static 'vendor/imgs/manuals_studying.jpg' %}" alt="..." class="img-fluid" style="max-width: 50vw;">
                        </div>
                            <div class="carousel-caption d-md-block bg-secondary" style="opacity: 75%;">
                                <h5 class="text-white " style="opacity: 100%">Don't know the Monsters?</h5>
                                <h1 class="text-white " style="opacity: 100%">Download the Manuals!!</h1>
                                <p class="text-white" style="opacity: 100%">Download Manuals and have a look at the Monsters available for various games!</p>
                            </div>
                    </a>
                </div>
                -->
                <div class="carousel-item" data-bs-interval="4000">
                    <a href="{% url 'devlogs:devlog_list' %}">
                        <div class="text-center">
                            <img src="{% static 'vendor/imgs/tavern-board.png' %}" alt="..." class="img-fluid" style="width: 55vw;">
                        </div>
                            <div class="carousel-caption d-md-block bg-secondary" style="opacity: 75%;">
                                <h5 class="text-white " style="opacity: 100%">Want to the News?</h5>
                                <h1 class="text-white " style="opacity: 100%">Check our DevLogs!</h1>
                                <p class="text-white" style="opacity: 100%">On each upgrade or fixing, we share with you the news!</p>
                            </div>
                    </a>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev" style=":hover{background-color: gray}">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="container mt-5">
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <h1>How to Use Monster Importer</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h3>Make sure your Roll20 subscription is at Pro tier</h3>
                    <p>
                        For Monster Importer to work, you have to have access to Mods (API Scripts).
                        Monster Importer is a third-party Web App, so we do not have the legitimacy to change how Roll20
                        works or how it should. That said, unfortunately, you have to pay the higher price there to be
                        able to user Monster Importer for its main purpose.
                    </p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <img class="img-fluid" src="{% static 'vendor/imgs/pro-subscription-roll20.png' %}" style="width: 400px">
                </div>
            </div>
            <div class="row p-5"></div>
            <div class="row mt-5">
                <div class="col">
                    <img class="img-fluid" src="{% static 'vendor/imgs/extension-screenshot.png' %}" style="width: 400px">
                </div>
                <div class="col"></div>
                <div class="col">
                    <h3>Install <a class="text-decoration-none"
                                   href="https://addons.mozilla.org/pt-BR/firefox/addon/monster-importer/">
                        Monster Importer Extension</a> to your browser</h3>
                    <p>
                        It will allow you to integrate Monster Importer to Roll20.
                        Without it, you cannot import your favorite monsters to your
                        player die for. After installing, close your browser and open again, to make sure
                        it's working properly
                    </p>
                </div>
            </div>
            <div class="row p-5"></div>
            <div class="row mt-5">
                <div class="col">
                    <h3>Use our <a class="text-decorarion-none"
                                   href="https://github.com/leogutschow/Monster-Importer/blob/master/roll20_mod/api.js">
                        Mod Script</a> in your campaign</h3>
                    <p>
                        Ok, you have the Pro Tier and the Extension, now it's time to Roll20 receive and understand
                        what's going on. For that, we make an API Script that you can put on your Campaigns and use
                        Monster Importer at it's fullest! That script will do the hard work for you and insert every
                        aspect of your desired monsters into the game. Make sure to save it before running and
                        refresh the Campaign page before trying to use it
                    </p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <img class="img-fluid" src="{% static 'vendor/imgs/roll20-mod-scripts.png' %}" style="width: 400px">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>