{% extends 'base.html' %}

<head>
    <title>{% block 'titulo' %}{{ monster.name }}{% endblock %}</title>
    {% block 'styles' %}
        <style>
            .hidden {
                display: none;
            }
        </style>
    {% endblock %}
</head>
<body>
    {% block 'conteudo' %}
    {% if monster.game == 'DND5E' %}
        <div id="dndSheet" class="">{% include 'monsters/games/details/dnd_monster_detail.html' %}</div>
    {% elif monster.game == 'TOR20' %}
        <div id="tor20Sheet" class="">{% include 'monsters/games/details/tor20_monster_detail.html' %}</div>
    {% elif monster.game == 'PATHF' %}
        <div id="pathfinderSheet" class="">{% include 'monsters/games/details/pathfinder_monster_detail.html' %}</div>
    {% endif %}
    {{monster_dict|json_script:"monster"}}
    {% endblock %}
</body>
</html>