{% extends 'base.html' %}
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    <title>{% block 'titulo' %}Create Monster{% endblock %}</title>
    {% block 'styles' %}
    <style>
        #emptyForm {
            visibility: hidden;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block 'conteudo' %}
        <div class="container text-center p-5 justify-content-center">
            <form class="" method="POST" action="#create_monster" enctype="multipart/form-data"
            style="background-image: url(https://i.imgur.com/hTt73aH.png); max-width: 40vw; max-height:7000px">
                {% csrf_token %}
                <div class="form-group">
                    <div id="baseSheetForm">
                        <div class="container row game-selector">
                            <label class="form-label" for="id_game">Game</label>
                            {{ form.game }}
                        </div>
                        ________________________________________________________________________________________________
                        <div class="container row">
                            <label class="form-label" for="id_name">Monster Name</label>
                            {{ form.name }}
                            <div class="col m-0">
                                <label class="form-label" for="id_size">Size</label>
                                {{ form.size }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_race">Race</label>
                                {{ form.race }}
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col m-0">
                                <label class="form-label" for="id_ac">Armor</label>
                                {{ form.ac }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_ac_type">Armor Class</label>
                                {{ form.ac_type }}
                            </div>
                        </div>
                         <div class="container row">
                            <div class="col m-0">
                                <label class="form-label" for="id_hp">Hit Points</label>
                                {{ form.hp }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_hp_dices">Hit Points Dices</label>
                                {{ form.hp_dices }}
                            </div>
                             <div class="col m-0">
                                <label class="form-label" for="id_movement">Speed</label>
                                {{ form.movement }}
                            </div>
                        </div>
                        <div class="container row">
                            <div class="col m-0">
                                <label class="form-label" for="id_strength">STR</label>
                                {{ form.strength }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_dexterity">DEX</label>
                                {{ form.dexterity }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_constitution">CON</label>
                                {{ form.constitution }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_intelligence">INT</label>
                                {{ form.intelligence }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_wisdom">WIS</label>
                                {{ form.wisdom }}
                            </div>
                            <div class="col m-0">
                                <label class="form-label" for="id_charisma">CHA</label>
                                {{ form.charisma }}
                            </div>
                        </div>
                        <div class="container row">
                            <label class="form-label" for="id_languages">Languages</label>
                            {{ form.languages }}
                        </div>
                    </div>

                    <div id="dndMonsterForm">
                        {{ dndmonster }}
                    </div>
                    <div id="dndActionForm">
                        <h5>Actions</h5>
                        {{ dndaction.management_form }}
                        <div id="formList">
                            {% for action in dndaction %}
                            <div class="action-form">
                                {{ action }}
                                <br></br>
                            </div>
                            {% endfor %}
                        </div>
                        <button id="addActionBtn" type="button">Add an Action</button>
                    </div>
                </div>

                <button type="submit">Submit</button>
            </form>
            <div id="emptyForm" class="hidden">{{ dndaction.empty_form }}</div>
        </div>
    {% verbatim %}
        <script>
        const totalNewForms = document.getElementById('id_dndaction_set-TOTAL_FORMS')
            const addActionBtn = document.getElementById('addActionBtn')
            addActionBtn.addEventListener('click', add_new_action)

            function add_new_action(event) {
                if (event){
                    event.preventDefault()
                }
                const currentActionsForms = document.getElementsByClassName('action-form')
                const formCopyTarget = document.getElementById('formList')
                const emptyForm = document.getElementById('emptyForm').cloneNode(true)
                emptyForm.setAttribute('class', 'action-form')
                emptyForm.setAttribute('id', `form-${currentActionsForms.length +1}`)
                const regex = new RegExp('__prefix__', 'g')
                emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, currentActionsForms.length)
                totalNewForms.setAttribute('value', currentActionsForms.length + 1)
                formCopyTarget.append(emptyForm)
            }
        </script>
    {% endverbatim %}

    {% endblock %}
</body>
</html>