{% extends 'base.html' %}

<head>
    <title>{{ monster.name }}</title>
</head>
<body>
    {% block 'conteudo' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ monster.image.url }}">
            </div>
            <div class="col">
                <p class="col">{{ monster.name }}</p>
                <p class="col">{{ monster.ac }}</p>
                <p class="col">{{ monster.challenge }}</p>
            </div>
        </div>
    </div>
        



    {% endblock %}
</body>
</html>