{% extends 'base.html' %}
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}Create Monster{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
        <div class="container">
            <form class="" method="POST" action="#create_monster" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div id="baseSheetForm">
                        {{ form.as_ul }}
                    </div>

                    <div id="dndMonsterForm">
                        {{ dndmonster.as_ul }}
                    </div>
                    <div id="dndActionForm">
                        <h5>Actions</h5>
                        {{ dndaction.management_form }}
                        <div id="formList">
                            {% for action in dndaction %}
                            <div class="action-form">
                                {{ action }}
                                <br></br>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="emptyForm">{{ dndaction.empty_form }}</div>


                        <button id="addActionBtn" type="button">Add an Action</button>
                    </div>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    {% verbatim %}
        <script>
            const addActionBtn = document.getElementById('addActionBtn')
            addActionBtn.addEventListener('click', add_new_action)

            function add_new_action(event) {
                if (event){
                    event.preventDefault()
                }
                const formCopyTarget = document.getElementById('formList')
                const emptyForm = document.getElementById('emptyForm').cloneNode(true)
                emptyForm.setAttribute('class', 'action-form')
                emptyForm.setAttribute('id', '')
                formCopyTarget.append(emptyForm)
            }
        </script>
    {% endverbatim %}

    {% endblock %}
</body>
</html>