{% extends 'base.html' %}
{% load static %}

<head>
    <title>{% block 'titulo' %}Monsters{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}

        <br></br>
        <div class="p-4" >
            <form class="mb-5" method="get">
                <div class="form-group row">
                    <div class="col-12 form-floating input-group">
                        <input id="monsterNameSearch" class="form-control"
                        type="search"
                        placeholder="Search a Monster"
                        name="monster_name"
                        aria-describedby="basic-addon1">
                        <label class="ps-4" for="monsterNameSearch">Search a Monster</label>
                        <span class="input-group-text" id="basic-addon1">
                            <img style="max-height: 32px" src="{% static 'imgs/searchIcon.png' %}">
                        </span>
                    </div>
                    <div class="row">
                        <a role="button" onclick="visible()">Advanced Search</a>
                        <div class="row">
                            <div class="advanceSearch col form-floating input-group">
                                <input id="monsterACSearch" class="form-control form-control-sm"
                                type="search"
                                placeholder="AC"
                                name="monster_ac">
                                <label class="ps-4" for="monsterACSearch">AC</label>
                            </div>
                            <div class="advanceSearch col form-floating input-group">
                                <input id="monsterChallengeSearch" class="form-control form-control-sm"
                                type="search"
                                placeholder="AC"
                                name="monster_challenge">
                                <label class="ps-4" for="monsterChallengeSearch">Challenge</label>
                            </div>
                            <div class="advanceSearch col form-floating input-group">
                                <select id="monsterGameSearch" class="form-select"
                                placeholder="Game"
                                name="monster_game">
                                    <option value="ALL">All</option>
                                    <option value="DND5E">Dungeons and Dragons 5e</option>
                                    <option value="TOR20">Tormenta20</option>
                                </select>
                                <label class="ps-4" for="monsterGameSearch">Game Rules</label>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 d-flex flex-column">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            <button class="btn btn-success">
                        <a class="text-white text-decoration-none" href="{% url 'monster:monster_create' %}">Add Homebrew Monster</a>
                    </button>
            <table class="table table-striped table-hover">
                <thead>
                    <th style="width: 48px">#</th>
                    <th>Name</th>
                    <th>AC</th>
                    <th>Challenge</th>
                    <th>Game Rule</th>
                    <th>Home Brew</th>
                </thead>
                <tbody>
                    {% if monsters.count == 0 %}
                        <tr>
                            <td colspan="4">No Monsters With That Parameters in the DataBase</td>
                        </tr>
                    {% endif %}
                    {% for monster in monsters %}
                        <tr>
                            <td>
                                <img style="max-height: 48px" src="{{ monster.image.url }}">
                            </td>
                            <td>
                                <a href="{% url 'monster:monster_detail' monster.slug%}">{{ monster.name }}</a>
                            </td>
                            <td>{{ monster.ac }}</td>
                            <td>{{ monster.challenge }}</td>
                            <td>{{ monster.get_game_display }}</td>
                            {% if monster.home_brew %}
                                <td><h3 class="text-success">✓</h3></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    {% for pagina in monsters.paginator.page_range %}

                        <li class="page-item">
                            <a class="page-link" href="?s={{pagina}}">{pagina}</a>
                        </li>


                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endblock %}
</body>
</html>