<div id="tor20MonsterForm" class="hidden">
    <div class="container row pt-2">
        <div class="col">
            <label class="form-label" for="id_initiative">Initiative</label>
            <input id="id_initiative" class="form-control" type="number" value="0">
        </div>
        <div class="col">
            <label class="form-label" for="id_perception">Perception</label>
            <input id="id_perception" class="form-control" type="number" value="0">
        </div>
        <div class="col">
            <label class="form-label" for="id_fortitude">Fortitude</label>
            {{ tor20monster.fortitude }}
        </div>
        <div class="col">
            <label class="form-label" for="id_reflex">Reflex</label>
            {{ tor20monster.reflex }}
        </div>
        <div class="col">
            <label class="form-label" for="id_will">Will</label>
            {{ tor20monster.will }}
        </div>
        <div class="col">
            <label class="form-label" for="id_mana">Mana</label>
            {{ tor20monster.mana }}
        </div>
        <div class="col">
            <label class="form-label" for="id_level">Level</label>
            {{ tor20monster.level }}
        </div>
    </div>
    ________________________________________________________________________________________________

    <div class="row pt-2">
        <div class="col">
            <label class="form-label" for="id_equipment">Equipment</label>
            {{ tor20monster.equipment }}
        </div>
        <div class="col">
            <label class="form-label" for="id_treasure">Treasure</label>
            {{ tor20monster.treasure }}
        </div>
    </div>
    <div class="p-2">
        <div id="tor20MeleeActions">
            <h5>Melee Attacks</h5>
            {{ tor20melee.management_form }}
            <div id="meleeList" class="row">
                {% for melee in tor20melee %}
                    <div class="melee-form">
                        <div class="row">
                            {{ melee }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="addTor20MeleeBtn" class="btn btn-secondary" type="button">Add Melee Attack</button>
        </div>
        <div id="tor20RangedActions">
            <h5>Ranged Attacks</h5>
            {{ tor20ranged.management_form }}
            <div id="rangedList" class="row">
                {% for ranged in tor20ranged %}
                    <div class="ranged-form">
                        <div class="row">
                            {{ ranged }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="addTor20RangedBtn" class="btn btn-secondary" type="button">Add Ranged Attack</button>
        </div>
    </div>
    <div id="emptyTor20Melee" class="hidden">
        <div class="row">
            <label class="form-label" for="tor20melee.empty_form.action_name.id_for_label">Action Name</label>
            {{ tor20melee.empty_form.action_name }}
        </div>
        <div class="row">
            <label class="form-label" for="tor20melee.empty_form.action_description.id_for_label">Action Description</label>
            {{ tor20melee.empty_form.action_description }}
        </div>
         <div class="row">
             <div class="col">
                <label class="form-label" for="tor20melee.empty_form.attack.id_for_label">Attack Bonus</label>
                {{ tor20melee.empty_form.attack }}
             </div>
             <div class="col">
                <label class="form-label" for="tor20melee.empty_form.hit.id_for_label">On Hit</label>
                {{ tor20melee.empty_form.hit }}
             </div>
        </div>
        <hr>
    </div>
    <div id="emptyTor20Ranged" class="hidden">
        <div class="row">
            <label class="form-label" for="tor20ranged.empty_form.action_name.id_for_label">Action Name</label>
            {{ tor20ranged.empty_form.action_name }}
        </div>
        <div class="row">
            <label class="form-label" for="tor20ranged.empty_form.action_description.id_for_label">Action Description</label>
            {{ tor20ranged.empty_form.action_description }}
        </div>
         <div class="row">
             <div class="col">
                <label class="form-label" for="tor20ranged.empty_form.attack.id_for_label">Attack Bonus</label>
                {{ tor20ranged.empty_form.attack }}
             </div>
             <div class="col">
                <label class="form-label" for="tor20ranged.empty_form.hit.id_for_label">On Hit</label>
                {{ tor20ranged.empty_form.hit }}
             </div>
        </div>
        <hr>
    </div>
</div>
