{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}Manuals{% endblock %}</title>
</head>
<body>
    {% block 'conteudo' %}
        <div class="container-fluid row mt-5 w-100">
            <img class="col" src="">
            <select class="form-select col">
                {% for manual in manuals %}
                    <option selected>Manuals</option>
                    <option value="{{ forloop.counter }}">{{ manual.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endblock %}
</body>
</html>