{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block 'titulo' %}Manuals{% endblock %}</title>

</head>
<body>

    {% block 'conteudo' %}
        <script>
            var manuals = "{{ manuals }}"
        </script>
        <div class="container-fluid row mt-5 w-100">
            <img class="col" src="">
            <select id="selectionBook" class="form-select col">
                <option selected disabled>Choose a Manual do Download</option>
                {% for manual in manuals %}
                    {% if manual.category == 'MON' %}
                        {{ manual|json_script:"{{ monster.name }}" }}
                        <option disabled>Monsters</option>
                        <option value="{{ forloop.counter }}">{{ manual.name }}</option>
                    {% endif %}
                {% endfor %}
                {% for manual in manuals %}
                    {% if manual.category == 'PLA' %}
                        {{ manual|json_script:"{{ monster.name }}" }}
                        <option disabled>Player Books</option>
                        <option value="{{ forloop.counter }}">{{ manual.name }}</option>
                    {% endif %}
                {% endfor %}
                {% for manual in manuals %}
                    {% if manual.category == 'GMS' %}
                        {{ manual|json_script:"{{ monster.name }}" }}
                        <option disabled>Game Masters Guides</option>
                        <option value="{{ forloop.counter }}">{{ manual.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <script>
                    document.getElementById("selectionBook").addEventListener("change", function(){
                        var e = document.getElementById("selectionBook");
                        var selected = e.options[e.selectedIndex].text;
                        console.log(selected);
                        const value = JSON.parse(document.getElementById(selected).text_content);
                        console.log(value)
                    })
        </script>
    {% endblock %}
</body>
</html>